* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#animation {
  font-family: monospace;
  white-space: pre;
  line-height: 1.5em;
  letter-spacing: 0.3vw;
  font-size: clamp(0.3rem, 0.7vw, 1rem);
  color: #ebdccb;
  padding: 2rem;
}

p,
a {
  color: #ebdccb;
  margin: 1rem;
  font-family: Arial, sans-serif;
  font-family: monospace;
  position: absolute;
  bottom: 1rem;
}
